@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

*, *::before, *::after {
	box-sizing: border-box;
}

img {
	width: 100%;
	max-width: inherit;
}

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
}
.container > div {
	flex: 1;
}

.editor-container {
	position: relative;
}

.editor-container .toggle-expand-btn {
	position: absolute;
	right: 0;
	top: .5rem;

	border: none;
	cursor: pointer;

	transition: transform .15s ease;
}
#maximizer:checked + .toggle-expand-btn {
	transform: rotate(90deg);
}

.editor-container textarea {
	resize: none;
	display: block;
	width: 100%;
}

.preview-container {
	height: 100vh;
	overflow-y: scroll;
}
/* https://github.com/sindresorhus/github-markdown-css#usage */
.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 1rem;
}

@media screen and (min-width: 640px) {
	.editor-container {
		gap: 1rem;
	}
	.editor-container textarea {
		height: calc(100vh - 4px);
		border: none;
	}
	.editor-container .toggle-expand-btn {
		display: none;
	}

	.container {
		flex-direction: row;
		gap: 1rem;
	}

	.markdown-body {
		padding: 0;
	}
}
