@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

img {
	width: 100%;
	max-width: inherit;
}

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.container > div {
	flex: 1;
}

.editor-container {
}
.editor-container textarea {
	resize: none;
	display: block;
	width: 100%;
}

.preview-container {
	max-height: 100vh;
	overflow-y: scroll;
}
/* https://github.com/sindresorhus/github-markdown-css#usage */
.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
}

@media screen and (min-width: 640px) {
	.editor-container textarea {
		height: 100%;
		border: none;
	}

	.container {
		flex-direction: row;
		gap: 1rem;
	}
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 1rem;
	}
}
